#app{
    width:100%;max-width: 750px;position: absolute;
    bottom:0;top:0;left:50%;right:0;transform: translate(-50%,0);
}
.loadingDiv,.loadingDiv .flex,#firstPage,#bgStyle,#cropSection,.theme{
	position: absolute;left:0;right:0;bottom:0;top:0;
}
.loadingDiv{
    bottom:0;background-color: rgba(0,0,0,.4);color:#000;
    z-index:99999;
}
.loadingDiv .flex{
	justify-content: center;align-items: center;
}

#upload{
	top:0;left:-999rem;
}


#firstPage{
	z-index:8;align-items: center;text-align: center;padding-bottom: .46rem;
	justify-content: space-around;font-size:.32rem;flex-direction: column;

	overflow: hidden;
}
#firstPage .wpr{bottom:0;left:0;width:100%;color:#f36229;font-size:.26rem;padding-top:.2rem;font-weight:bold;text-align: center;}
#bgStyle{
	z-index:6;
}
.defaultPic{width:100%;top:3rem;z-index:2;}
.defaultPic>div{background-color:#fee08f;overflow:hidden;border:2px blue solid;width:4.84rem;height:4.82rem;margin:auto;}
.chooseBtn{
	display: block;width:3.2rem;background-color:#409eff;color:#fff;line-height: .8rem;font-size: .32rem;
	border-radius: .6rem;margin:.1rem auto 0;
}

#cropSection{box-sizing:border-box;z-index:222;}
#cropSection .styleChoose{
	position: absolute;bottom:0;left:0;width:100%;
	height:1.9rem;z-index:8;
}
#cropSection .wpr{justify-content: space-around;margin-top: .24rem;}
#cropSection .item{width:1.12rem;height:1.36rem;background-color: #e8462d;border-radius: .12rem;color:#fff;text-align: center;line-height: 1.26rem;}